html {
    height: 100vh;
  }
  
  body {
    margin: 0;
    height: 100%;
    
    align-content: center;
  }
  
  .login {
    width: auto;
    min-height: 250px;
    margin: 1%;
    padding: 1rem;
  }
  
  .titulo h1 {
    text-align: center;
    font-size: 45px;
  }
  
  .titulo p {
    text-align: center;
    font-size: 15px;
    margin-bottom: 3rem;
  } 
  
  .a {
    text-align: center;
  }

  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(105, 105, 105) 50%, rgb(255, 255, 255) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  .content {
    margin: 3rem;
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:content-box;
    left:25%;
    padding:10px;
    position:static;
    top:25%;
      }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }