html {
    height: 100vh;
  }
  
  body {
    margin: 0;
    height: 100%;
    
    align-content: center;
  }
  
  .login {
    width: auto;
    min-height: 250px;
    margin: 1%;
    padding: 1rem;
  }
  
  .titulo {
    text-align: center;
    font-size: 45px;
    margin-top: 5rem;
  }
  
  .subtitulo {
      text-align: center;
      font-size: 15px;
      margin-bottom: 5rem;
      
    }
  
  .a {
    text-align: center;
  }