<ion-header [translucent]="true">

</ion-header>

<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button (click)="navigateToHome()">
      <ion-icon slot="icon-only" name="home"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button (click)="navigateToUsuario()">
      <ion-icon slot="icon-only" name="person-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title style="text-align: center;">HOME</ion-title>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <div class="titulo">
    <h1>GameStore</h1>
    <p>La Store Digital 👾</p>
  </div>

 
</ion-content>
