<ion-header [translucent]="true">

</ion-header>

<ion-toolbar>
  <ion-buttons slot="end">
    <ion-button (click)="navigateToUsuario()">
      <ion-icon slot="icon-only" name="person-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title style="text-align: center;">REGISTRO</ion-title>
</ion-toolbar>

<ion-content [fullscreen]="true">

<div>
  <ion-title style="text-align: center;">Registrate aquí 📝</ion-title>
</div>

<ion-card-content>

  <ion-item>
    <ion-label position="floating">Usuario</ion-label>
    <ion-input type="text" [(ngModel)]="usuario"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input type="text" [(ngModel)]="nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Apellido</ion-label>
    <ion-input type="text" [(ngModel)]="apellido"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Correo</ion-label>
    <ion-input type="email" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Teléfono</ion-label>
    <ion-input type="phone" [(ngModel)]="telefono"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

</ion-card-content>

<ion-button (click)="guardar()" >Guardar Datos</ion-button>

</ion-content>
