<ion-header [translucent]="true">

</ion-header>

<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button (click)="navigateToHome()">
      <ion-icon slot="icon-only" name="home"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button (click)="navigateToLogin()">
      <ion-icon slot="icon-only" name="person-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title style="text-align: center;">GameStore👾</ion-title>
</ion-toolbar>

<ion-content [fullscreen]="true">

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Categoría</ion-card-subtitle>
        <ion-card-title>Arcade</ion-card-title>        
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-card class="game">            
            <img class="category-image" alt="" src="https://media.vandal.net/m/3-2020/20203281112498_1.jpg" />
            <ion-card-title>One Piece: Pirate Warriors 4</ion-card-title>
            <ion-card-subtitle>$12.990</ion-card-subtitle>
              <div class="boton-compra">
                <ion-button color="success">Comprar</ion-button>
                <ion-button>Favoritos<ion-icon slot="end" name="heart"></ion-icon></ion-button>
              </div>
          </ion-card>
    
          <ion-card class="game">            
            <img class="category-image" alt="" src="https://assets.nintendo.com/image/upload/c_fill,w_1200/q_auto:best/f_auto/dpr_2.0/ncom/software/switch/70010000059002/e2c326b8fbab42b3f48c86c10c728b8bc04cf59fa51302c54837823879e6749f" />
            <ion-card-title>Vampire Survivors</ion-card-title>
            <ion-card-subtitle>$8.990</ion-card-subtitle>
              <div class="boton-compra">
                <ion-button color="success">Comprar</ion-button>
                <ion-button>Favoritos<ion-icon slot="end" name="heart"></ion-icon></ion-button>
              </div>
          </ion-card>
    
          <ion-card class="game">            
            <img class="category-image" alt="" src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/1732420/capsule_616x353.jpg?t=1716267330" />
            <ion-card-title>Spanky!</ion-card-title>
            <ion-card-subtitle>$5.990</ion-card-subtitle>
              <div class="boton-compra">
                <ion-button color="success">Comprar</ion-button>
                <ion-button>Favoritos<ion-icon slot="end" name="heart"></ion-icon></ion-button>
              </div>
          </ion-card>
    
          <ion-card class="game">            
            <img class="category-image" alt="" src="https://www.nintendo.com/eu/media/images/10_share_images/games_15/wii_24/SI_Wii_GuiltyGearXXAccentCorePlus_image1600w.jpg" />
            <ion-card-title>Guilty Gear XX Accent Core Plus</ion-card-title>
            <ion-card-subtitle>$20.990</ion-card-subtitle>
              <div class="boton-compra">
                <ion-button color="success">Comprar</ion-button>
                <ion-button>Favoritos<ion-icon slot="end" name="heart"></ion-icon></ion-button>
              </div>
          </ion-card>
        </ion-list>
      </ion-card-content>
    </ion-card>

</ion-content>
