<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="navigateToHome()">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="navigateToUsuario()">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center;">HOME</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">

  <div class="bg"></div>
  <div class="bg bg2"></div>
  <div class="bg bg3"></div>
  
  <div class="titulo">
    <h1>GameStore</h1>
    <p>La Store Digital 👾</p>
  </div>

  <div class="bienvenido">
    <h1>Bienvenido, {{ usuarioRecibidoPersistente }}!</h1>
  </div>

  <div class="categorias">       

    <ion-card class="content2">
      <h1>🎮 Elíge una categoría para comenzar:</h1>
      <ion-button class="catButton" (click)="play()" expand="block">CATEGORIAS</ion-button>
    <ion-row>
      <ion-col size="6">
        <ion-card color="tertiary" (click)="navigateToCategory('deportes')">
          <ion-card-header>
            <ion-card-subtitle>Categoría</ion-card-subtitle>
            <ion-card-title>Deportes</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Los mejores juegos de deportes</p>
          </ion-card-content>
        </ion-card>
      
      </ion-col>      
      <ion-col size="6">
        <ion-card color="success" (click)="navigateToCategory('RPG')">
          <ion-card-header>
            <ion-card-subtitle>Categoría</ion-card-subtitle>
            <ion-card-title>RPG</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Los mejores juegos de Rol y RPG</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      
      <ion-col size="6">
        <ion-card color="warning" (click)="navigateToCategory('Disparos')">
          <ion-card-header>
            <ion-card-subtitle>Categoría</ion-card-subtitle>
            <ion-card-title>Disparos</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Los mejores juegos de disparos</p>
          </ion-card-content>
        </ion-card>
      </ion-col>  
      
      <ion-col size="6">
        <ion-card color="danger" (click)="navigateToCategory('Aventura')">
          <ion-card-header>
            <ion-card-subtitle>Categoría</ion-card-subtitle>
            <ion-card-title>Aventura</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Los mejores juegos de aventura</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      
      <ion-col size="6">
        <ion-card color="primary" (click)="navigateToCategory('Carreras')">
          <ion-card-header>
            <ion-card-subtitle>Categoría</ion-card-subtitle>
            <ion-card-title>Carreras</ion-card-title>
          </ion-card-header>
          <ion-card-content>            
            <p>Los mejores juegos de carreras</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      
      <ion-col size="6">
        <ion-card color="dark" (click)="navigateToCategory('Arcade')">
          <ion-card-header>
            <ion-card-subtitle>Categoría</ion-card-subtitle>
            <ion-card-title>Arcade</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Los mejores juegos de arcade</p>
          </ion-card-content>
        </ion-card>
      </ion-col>      
    </ion-row>
  </ion-card>
  </div>  

  

  <div class="apiButton">
    <p>Te gustaría conocer todo acerca de los Agentes de Valorant?</p>
    <ion-button (click)="navigateToApiValorant()" color="dark">Agentes de Valorant</ion-button>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="maps">
      <ion-title size="large">Ubicanos aquí 📍</ion-title>
      <ion-button (click)="navigateToMaps()" size="small">
        Nuestra tienda
        <ion-icon slot="end" name="map-outline"></ion-icon>
      </ion-button>
      </div>
  </ion-toolbar>
</ion-footer>



