.titulo h1 {
  text-align: center;
  font-size: 45px;
}

.titulo p {
  text-align: center;
  font-size: 20px;
  margin-bottom: 3rem;
} 

.bienvenido {
  text-align: center;
  font-size: 30px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.categorias h1 {
  text-align: center;
  font-size: 15px;
}

.content {
  background-color: black;
}